{% extends "webui/layout.html" %}

{% block content %}

<h2>关于洋码头配置管理系统</h2>

<h3>更新历史</h3>

<h4>v0.5 - 2016年03月</h4>
<ul>
    <li>修改模板标签对应的环境标签值不存在时的报错信息</li>
    <li>允许在配置文件打包时选择Gitlab分支</li>
    <li>使用Celery异步处理配置文件包</li>
</ul>

<h4>v0.4 - 2015年12月</h4>
<ul>
    <li>增加复制应用标签功能</li>
    <li>增加修改应用程序隶属关系功能</li>
</ul>

<h4>v0.3 - 2015年11月</h4>
<ul>
    <li>在创建项目时自动将项目关联到创建者所在部门</li>
    <li>允许同时增加多个环境的模板标签值</li>
</ul>

<h4>v0.2 - 2015年10月</h4>
<ul>
    <li>增加配置文件包比较功能</li>
    <li>增加模板标签所关联应用功能</li>
</ul>

<h4>v0.1 - 2015年9月</h4>
<ul>
    <li>实现配置管理中心的基础信息管理功能</li>
    <li>实现基于活动目录域服务的自动授权功能</li>
    <li>实现基于组的权限</li>
    <li>实现基础的分页和查询功能</li>
</ul>

{% endblock %}
